#scrollSlider{
    width: 900px;
    margin: 0 auto;
}
#scrollSlider .scroll-slider-wrapper, #scrollSlider .thumbnails, #scrollSlider .scroll-bar{
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    height: 600px;
    max-height: 600px;
}
#scrollSlider .scroll-slider-wrapper{
    width: 70%;
}
#scrollSlider .slide{
    width: 600px;
    height: 600px;
    text-align: center;
}
#scrollSlider .thumbnails{
    width: 16%;
    height: 455px;
    margin-top: 70px;
}
#scrollSlider .thumbnails .thumb-image-wrapper{
    margin: 5px;
    overflow: hidden;
    height: 128px;
}
#scrollSlider .thumbnails .thumb{
    position: relative;
    height: 138px;
    width: 138px;
    overflow: hidden;
    border: 1px solid black;
    margin: 10px 0 10px 0;
}
#scrollSlider .thumb .thumb-shadow{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #640000;
    opacity: 0;
}
#scrollSlider .thumb .thumb-shadow span{
    width: 32px;
    height: 32px;
    background: url("../img/zoom.png") no-repeat 0 0;
    position: absolute;
    bottom: 10px;
    left: 40%;
}
#scrollSlider .thumb .thumb-shadow:hover{
    opacity: 0.5;
}
#scrollSlider .scroll-bar{
    width: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin: 0 20px;
    padding: 10px 0;
    position: relative;
}
#scrollSlider .scroll-bar .scroll-button{
    width: 8px;
    height: 80px;
    background-color: black;
    margin: auto;
}
#scrollSlider .slides img{
    display: inline-block;
    max-width: 600px;
    max-height: 600px;
    vertical-align: middle;
}
#scrollSlider .img-middle-helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}