@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#500;
	font:normal 12px/1.8em tahoma, Helvetica, sans-serif;
	background:#930000;
}
html, .main {
	padding: 0;
	margin: 0;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
.logo {
	width:970px;
	height:105px;
	padding:20px 0;
	margin:0 auto;
	background:url(images/header_images.jpg);
}
h1 {
	margin:0;
	padding:20px 10px;
	color:#d4d4d4;
	font:bold 28px/1.2em tahoma, Helvetica, sans-serif;
	letter-spacing:-2px;
}
h1 a, h1 a:hover {
	color:#393a48;
	text-decoration:none;
}
h1 span {
	color:#d4d4d4;
}
h1 small {
	display:block;
	padding:0;
	font:normal 13px/1.2em tahoma, Helvetica, sans-serif;
	letter-spacing:normal;
}
h2 {
	
	padding:8px 15px;
	margin:-10px -15px 0;
	color:#595959;
	background:#eeeeee;
}
p {
	margin: 8px 0;
	padding: 0 0 8px 0;
	font: normal 12px/1.8em tahoma, Helvetica, sans-serif;
	
}
p.spec {
}
a {
	color:#939393;
	text-decoration:underline;
}
a.rm, a.com {
	padding:0;
	text-decoration:none;
	color:#fff;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin: 0;
	padding: 0;
	font-size: 12px;
	
}
.fbg_resize {
	margin:0 auto;
	padding:0 40px;
	width:890px;
}
.header {
	padding:20px 0;
}
.header_resize {
	margin:0 auto;
	width:970px;
}
.header_block {
	margin:0;
	padding:0;
	background:#7D0000;
	border-bottom:1px solid #284a55;
}
.menu_nav {
	margin:0;
	padding:0;
	width:600px;
	float:left;
}
.menu_nav ul {
	list-style:none;
	margin:0;
	padding:0;
}
.menu_nav ul li {
	margin:0;
	padding:0;
	float:left;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:17px;
	color:#FFF;
	text-decoration:none;
	font-size:13px;
	line-height:16px;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	font-weight:bold;
	color:#D5BFA4;
}
.content {
	padding:15px 20px;
	margin:0 auto;
	width:930px;
	background:#FFF;
}
.mainbar {
	margin:0;
	padding:0;
	float:left;
	width:610px;
}
.mainbar img {
	padding:4px;
	border:1px solid #930000;
}
.mainbar img.fl {
	margin:4px 16px 4px 0;
	float:right;
}
.mainbar .article {
	margin:0 0 20px;
	padding:10px 15px 5px;
	border:1px solid #930000;
}
.mainbar .post-data a {
	color:#000;
}
.mainbar .post-data a.com {
	float:right;
	color:#000;
}
.mainbar .spec a {
	background:#930000;
	padding:7px 10px;
}
.sidebar {
	padding:0;
	float:right;
	width:300px;
}
.sidebar .gadget {
	margin:0 0 20px;
	padding:10px 15px 5px;
	border:1px solid #930000;
	
	
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0 0 0 15px;
	color:#000;
	
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:4px 0 4px 0;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0 8px 0;
}
ul.sb_menu li a, ul.ex_menu li a {
	color:#7D0000;
	text-decoration:none;
	margin-left:-12px;
	padding-left:12px;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover, ul.sb_menu li.active a, ul.ex_menu li.active a {
	color:#000;
	font-weight:bold;
	
}
ul.sb_menu li a:hover {
	text-decoration: underline;
	font-family: tahoma, Helvetica, sans-serif;
	font-weight: bold;
	font-style: normal;
}
ul.ex_menu li a:hover {
	text-decoration: none;
	font-size: 12px;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	background:#7D0000;
	padding:20px;
	width:930px;
	margin:0 auto;
}
.fbg h2 {
	color:#FFF;
}
.fbg img {
	padding:4px;
	border:1px solid #930000;
	background-color:#7D0000;
}
.fbg a {
	color:#FFBFBF;
}
.fbg .col {
	margin:0;
	float:left;
	/*background:url(images/fbg_line.gif) repeat-y right;*/
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:266px;
}
.fbg .c2 {
	padding:0 16px;
	width:320px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:280px;
	background:none;
}
.fbg .c1 img {
	margin:8px 16px 8px 0;
}
.fbg .c3 img {
	margin:8px 16px 4px 0;
	float:left;
}
.footer {
}
.footer_resize {
	margin:0 auto;
	padding:20px 0;
	width:930px;
	color:#FFBFBF;
}
.footer p {
	margin:0;
	padding:4px 0;
	line-height:normal;
	color:#FFF;
}
.footer a {
	color:#FFBFBF;
	padding:inherit;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:#000;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #FFBFBF;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#7D0000;
}
ol li textarea {
	width:480px;
	border:1px solid #FFBFBF;
	margin:2px 0;
	padding:2px;
	background:#7D0000;
}
ol li .send {
	margin:16px 0 0 0;
}
.search {
	padding:10px 0;
	float:right;
}
.search span {
	width:256px;
	display:block;
	background:#7D0000;
	height:29px;
	margin:0;
	padding:0;
	border:1px solid #FFBFBF;
}
.search input#s {
	float:left;
	width:210px;
	padding:7px 0 7px 10px;
	margin:0;
	border:0;
	background:none;
	color:#FFBFBF;
	font:normal 12px/15px tahoma, Helvetica, sans-serif;
}
.search .btn {
	float:right;
	padding:0;
	margin:0;
	border:0;
	width:auto;
}
.pagenavi {
	clear:both;
	font:normal 13px tahoma, Helvetica, sans-serif;
	margin:0 auto;
	text-align:right;
	padding:10px 20px;
}
.pagenavi a, .pagenavi .current {
	border:1px solid #FFBFBF;
	margin-left:3px;
	padding:5px 10px;
	text-decoration:#000;
	color:#FFBFBF;
}
.pagenavi a:hover, .pagenavi .current {
	background:#7D0000;
	color:#fff;
	border:1px solid #FFBFBF;
}
.pagenavi .pages {
	float:left;
}
